<!DOCTYPE html> 
<html lang="en"> 
    <head>
        <!-- Basic -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <!-- Site Metas -->
        <link rel="icon" href="images/fevicon.png" type="image/gif" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>    
 <style>
  .top{
      padding :50px;
      background-color:black;
      color:white;
  }
  h1{
      text-item:center;
  }
  .top a{
    text-decoration:none;
    margin:30px;
    padding: 5px;
    background:red;
    margin-top:40px;
    border: 2px solid red;
    border-radius: 25px;
   color:white;
  }
  .form{
      margin-left:400px;
  }

 </style>
<body>
<div class="top">
<center><h1 class>Home Page</h1>

  
    {% if user.is_authenticated %}
    <h3> <a href="{% url "log_out" %}">Logout</a></h3>
    {% else %}
   <h3> <a href={% url "display" %}>Login</a></h3>
    
    <h3><a href="{% url "sign" %}">Sign up</a></h3>
{% endif %}
</center>
</div>

</body> 
</html> 